/*
  Main
*/
.main{
  padding: 40px 15px;
}
.glyphicon-remove{
  top: 3px;
  right: 10px;
}


/*
  Movies Detail
*/
.nav-button{
  margin: 0 0 20px 0;
}

.title-image{
  min-width: 140px;
  min-height: 200px;
  margin: 20px 0;
  text-align: center;
}

.title-image-thumb{
  max-width: 140px;
  max-height: 200px;

  outline: 2px solid #858585;
  -webkit-box-shadow: 5px 5px 9px 0px rgba(50, 50, 50, 0.61);
  -moz-box-shadow:    5px 5px 9px 0px rgba(50, 50, 50, 0.61);
  box-shadow:         5px 5px 9px 0px rgba(50, 50, 50, 0.61);
}

.movie-title{
  margin-top: 22px;
}

.title-movie-detail{
  margin-bottom: 40px;
}

.big-title{
  text-shadow: 2px 1px 2px #888;
  font-size: 48px;
}

.title-info-row{
  margin-top: 30px;
}

.title-year{
  text-shadow: 1px 1px 1px #666;
  font-size: 32px;
  margin-top: 18px;
}

.glyphicon-star{
  margin-left: 32px;
}

.glyphicon-star:before {
  content: "\e006";
  color: #FFE671;
  z-index: -1;
  font-size: 131px;
  text-shadow: 3px 4px 7px #959C58;
  font-weight: bold;
}

.imdb-rating{
  position: absolute;
  font-size: 36px;
  text-shadow: 2px 2px 3px #808080;
  top: 40px;
  left: 34px;
}

.country{
  /*text-shadow: 1px 1px 1px #666;*/
  font-size: 16px;
  margin-top: 32px;
}

.runtime{
  /*text-shadow: 1px 1px 1px #666;*/
  font-size: 26px;
  margin-top: 20px;
}

.genre{
  /*text-shadow: 1px 1px 1px #666;*/
  font-size: 16px;
  margin-top: 28px;
}

.tagline{
  font-weight: bold;
  margin-left: 12px;
  margin-bottom: 10px;
}

.plot{
  /*margin-left: 28px;*/
}

.director{
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
}

.path_TextArea{
  width: 66.66666%;
  height: 36px;
  border: 0 none;
  padding: 5px;
  overflow: none;
}

.thumbs{
  margin-top: 20px;
}

.thumbContainer{
  float: left;
  min-width: 120px;
  min-height: 215px;
  /*margin-bottom: 30px;*/
}

.prevThumb{
  max-width: 120px;
  max-height: 215px;
  
  outline: 2px solid #858585;

  -webkit-box-shadow: 5px 5px 9px 0px rgba(50, 50, 50, 0.61);
  -moz-box-shadow:    5px 5px 9px 0px rgba(50, 50, 50, 0.61);
  box-shadow:         5px 5px 9px 0px rgba(50, 50, 50, 0.61);
}


.thumb-fullImage{
  max-width: 100%;
}

/*
  Search Results
*/
.searchDiv{
  margin-top: 9px;
}
.btnShowThumbs{
 margin-top: 29px; 
}

#search-result tr{
  cursor: pointer;
}

#search-result th.rating, td.rating{
  width: 27px;
  font-weight: bold;
  text-align: center;
}
#search-result th.year, td.year{
  width: 25px;
  text-align: center;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background-color: #cfc;
}

.lastTrSelected{
 background-color: #ffc; 
}


.search-thumb-item{
  width: 190px;
  height: 330px;
}

.search-thumb-title{
  font-size: 16px;
  height: 50px;
}

.search-thumb-rating{
  margin-top: 10px;
  font-weight: bold;
}


/*
  IMovies
*/
.imoviesDiv li{
  list-style: none;
}

.byYear li{
  float: left;
  list-style: none;
  margin-right: 20px;
}