<div class="row">
  <div class="row searchResultsNav">

    <div class="col-md-3">
      <button class="btn btnPrevPage">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
      <button class="btn btnNextPage">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
      <button class="btn btnTableView">
        <span class="glyphicon glyphicon-th-list"></span>
      </button>
      <button class="btn btnThumbView">
        <span class="glyphicon glyphicon-th-large"></span>
      </button>
    </div>

    <div class="col-md-9 searchLog">
        <div class="col-lg-8">
          <div class="input-group">
            <input id="q" type="search" class="form-control" placeholder="search..." value="{{ query }}"></input>
            <span class="input-group-btn">
              <button class="btn btn-default" id="btnSearch">Search</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->

        <div class="col-lg-4 stats">
          <span id="pageNumber">{{ page }}</span> of <span id="totalPageNumber">{{ totalPages }}</span>
          ( <span id="totalMovies">{{ total }}</span> movies )
        </div>
  </div>
</div>