<h1>Movie List</h1>
<p class="lead">
  To start this application you can use node.js
  <pre>node server.js</pre>
</p>
<p class="lead">
  Or you can use on linux
  <pre>python -m SimpleHTTPServer</pre>
</p>
<p class="lead">
  Or simply
  <pre>bash startServer.sh</pre>
</p>

<p>by Julio Saito (saitodisse)</p>
<p>using</p>
<pre>jQuery
underscore.js
backbone.js
backbone.marionette.js
twiter bootstrap</pre>
