<table class="table table-bordered table-hover table table-striped">
  <thead>
    <tr>
      <th class='rating'>
        rating
      </th>
      <th class='year'>
        year
      </th>
      <th>
        title
      </th>
      <th>
        pt-BR title
      </th>
      <th>
        director
      </th>
      <th>
        imdb
      </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
